<h1 style="color: aliceblue;" >Welcome To Mantabya</h1>
<h2 style="color:aliceblue;">Nepali Online Portal</h2>
<a href="/users/register" button type="button" class="btn btn-primary">No Account? Register Now</button><br>
<a href="/users/login" button type="button" class="btn btn-success">No Account? Register Now</button><br>
