<h1 style="color: aliceblue;" >Welcome To Mantabya</h1>
<h2 style="color:aliceblue;">Nepali Online Portal</h2>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Only Register Members can view</div>
    <div class="card-body">
        <img src="http://res.publicdomainfiles.com/pdf_view/54/13527187822470.jpg" width="250px" height="200px" />
        <hr>
        <a href="/users/register" button type="button" class="btn btn-primary">Register Now</button></a>
        <a href="/users/login" button type="button" class="btn btn-success">Login Now</button></a>
</div>

